{% extends "base.html.twig" %}

{% block title "Réinitialiser mot de passe" %}

{% block body %}
    {% for message in app.flashes('danger') %}
        <div class="container mt-5 text-center">
            <div class="alert alert-danger">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="container mt-5 text-center">
            <div class="alert alert-success">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <div class="container col-md-4 text-center mt-5 mb-5">
        <h2>Inséré le code reçu par mail</h2>
        <form method="POST">
            <input class="form-control" type="number" name="code">
            <button type="submit" class="btn btn-primary mt-5">Envoyer</button>
        </form>
    </div>
{% endblock %}