{% extends "base.html.twig" %}

{% block title "Réinitialiser mot de passe" %}

{% block body %}

    {% if state %}
        <div class="alert alert-success">
            Un code de confirmation à été envoyé par mail, cliquer <a href="{{ path('home.confirmCode') }}">ici</a> pour insérer le code
        </div>
    {% else %}
        <div class="container mt-5 mb-5 text-center col-md-4">
            <h2>Réinitialiser le mot de passe</h2>

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}

            <p>Pour réinitialiser le mot de passe, veuillez rentrer votre adresse mail</p>
            <form method="POST">
                <input class="form-control" name="email" type="email" id="resetPassword">
                <button class="btn btn-primary mt-5">Envoyer un code</button>
            </form>
        </div>
    {% endif %}

{% endblock %}
