#card > * {
    display: none;
}

ul, li {
    list-style-type: none;
}

#card > :nth-child(-n+4) {
    display: flex;
}

.noneButton {
    display: none;
}

.comments {
    display: flex;
    padding: 20px;
    margin-top: 70px;
    align-items: center;
}

#fourComments:nth-child(n+5) {
    display: none;
}

.footer {
    height: 100px;
    width: 100%;
    color: #FFFFFF;
    font-size: 20px;
}

.hidden-comment {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.hidden-trick {
    display: none !important;
}

.card-img-container {
    height: 200px;
    overflow: hidden;
}

.fixed-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.noneButton {
    display: none;
}